/* main.css - main styles */

body {
  color: #E198B2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body, input {
  background-color: #504870;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

#input-container {
  margin: 20px auto;
}

#input-search {
  font-size: 83px;
  outline: 0;
  color: #E198B2;
  border: 0;
  width: 600px;
}

#results-container {
  position: absolute;
  text-align: center;
  width: 100%;
}

#results-list {
  width: 580px;
  margin: 0 auto;
}

#results-list li {
  text-align: left;
  color: #b188a2;
}

#results-list li:hover {
  color: #d9adc9;
  cursor: pointer;
}

.result-name {
  font-size: 30px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#album-list {
  font-size: 30px;
  padding: 100px 20px;
}

#artist-list {
  font-size: 15px;
  padding: 10px 40px;
}

#artist-clear {
  margin-top: 60px;
  padding: 0px 40px;
  color: #cce;
  font-style: underline;
}

#artist-clear:hover {
  color: #fff;
  cursor: pointer;
}

.album-name, .album-year {
  color: #FEFEE0;
}

.artist-name {
  font-style: italic;
}

.artist-name.enabled-true {
  color: #eebbcc;
}

.artist-name.enabled-false {
  font-style: italic;
  color: #aaa;
}