<!DOCTYPE html>
<html lang="en" ng-app="artistApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Music Tracker 1.0">
    <meta name="description" content="Track your favorite music - artists and albums history">
    <meta name="author" content="Hari Ganesan">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,100' rel='stylesheet' type='text/css'>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" media="screen">
    <title>Music Tracker</title>
  </head>
  <body ng-controller="ArtistController">
    <div id="input-container" class="container center">
      <form id="form-search" ng-submit="addArtistEnter()">
        <input id="input-search" type="text" ng-model="searchText" ng-change="checkSearch()" autocomplete="off" autocorrect="off" placeholder="Type in an artist" title="" autocapitalize="off" spellcheck="false" required="" autofocus="true" maxlength="25" focus-on="focusSearch" />
      </form>
      <div id="results-container" class="container">
        <ul id="results-list">
          <li class="result-name" ng-repeat="result in results" ng-hover="result.selected" ng-click="addArtistClick(result)">
            {{result.name}}
          </li>
        </ul>
      </div>
    </div>
    <div id="album-container" class="container left">
      <ul id="album-list">
        <li ng-repeat="album in albums | filter: isEnabled | unique: 'name' | orderBy: 'year': true"><span class="album-year">({{album.year}}) </span><span class="album-name">{{album.name}}</span><span class="artist-name"> - {{album.artist}}</span></li>
      </ul>
    </div>
    <div id="artist-container" class="container right">
      <div id="artist-clear" class="visible-{{clearVisible}}" ng-click="clearArtists()">Clear all ({{artists.length}})</div>
      <ul id="artist-list">
        <li ng-repeat="artist in artists" ng-click="toggleArtist(artist)">
          <span class="artist-name enabled-{{artist.enabled}}">{{artist.name}}</span>
        </li>
      </ul>
    </div>
  </body>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-ui.min.js"></script> 
    <script src="static/js/artist.js"></script>
</html>